footer{
    background-color: $color-1;
    display: flex;
    flex-direction: column;
    height: 80px;
}
.grupo-1{
    background-color: $color-1;
    gap: 20px;
    display: flex;
    padding-left: 20px;
        h2{
            color: $color-2;
        }
}
.red-social{
    display: flex;
    font-size: 1.5vw;
    gap: 20px;
    background-color: $color-1;
        a{
            background-color: $color-1;
            @include sizes (40px, 40px);
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            &:hover{
                background-color: #252525;
            }
        }
}
.fa.fa-youtube{
    color: red;
}

.fa.fa-facebook{
    color: blue;
}

.fa.fa-twitter{
    color: #00B2FF;
}

.fa.fa-instagram{
    color: #D136FF;
}
.grupo-2{
    text-align: center;
    color: $color-2;
}