.imagenfondo{
    margin-top: 75px;
    @include sizes (100%, 600px);
    background-image: url('../img/botinesfondo.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    &::after{
    content: '';
    position: absolute;
    background-color: rgba(58, 58, 58,.4);
    width: 100%;
    height: 600px;
    }
        h1{
            position: absolute;
            color: $color-2;
            font-size: 50px;
            top: 40%;
            z-index: 1;
            width: 100%;
            text-align: center;
            font-weight: 700;
        }
}
.title h5{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 25px;
    padding-top: 40px;
    font-weight: 700;
}

#main-index{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.grid-index{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}